.toast-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    width: 200px;
    height: 100%;
    pointer-events: none;
}

.toast {
    position: absolute;
    height: 35px;
    width: 200px;
    top: calc(5% + 35px);
    left: calc(100% - 230px);
    transform: translateY(50px);
}